<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Create orders net</title>
</head>
<body>
  <a href="{{url_for('webAdmin')}}" id="orders_home">
    <div class="header">
      <div><img src="../static/LOGO.png"></div>
      <div>Binance bot administrator web-interface</div>
    </div>
  </a>
  <div class="table_head">Orders Net</div>
  <div class="order_net">
    <form action="{{url_for('setOrderNet')}}" method="POST">
      <table>
        <tr>
          <th>Order Number</th>
          <th>Step</th>
          <th>Amount</th>
        </tr>
        <tr>
          <th><input type="text" name="[0]order_number" id="" value="0"></th>
          <th><input type="text" name="[0]step" id=""></th>
          <th><input type="text" name="[0]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[1]order_number" id="" value="1"></th>
          <th><input type="text" name="[1]step" id=""></th>
          <th><input type="text" name="[1]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[2]order_number" id="" value="2"></th>
          <th><input type="text" name="[2]step" id=""></th>
          <th><input type="text" name="[2]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[3]order_number" id="" value="3"></th>
          <th><input type="text" name="[3]step" id=""></th>
          <th><input type="text" name="[3]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[4]order_number" id="" value="4"></th>
          <th><input type="text" name="[4]step" id=""></th>
          <th><input type="text" name="[4]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[5]order_number" id="" value="5"></th>
          <th><input type="text" name="[5]step" id=""></th>
          <th><input type="text" name="[5]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[6]order_number" id="" value="6"></th>
          <th><input type="text" name="[6]step" id=""></th>
          <th><input type="text" name="[6]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[7]order_number" id="" value="7"></th>
          <th><input type="text" name="[7]step" id=""></th>
          <th><input type="text" name="[7]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[8]order_number" id="" value="8"></th>
          <th><input type="text" name="[8]step" id=""></th>
          <th><input type="text" name="[8]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[9]order_number" id="" value="9"></th>
          <th><input type="text" name="[9]step" id=""></th>
          <th><input type="text" name="[9]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[10]order_number" id="" value="10"></th>
          <th><input type="text" name="[10]step" id=""></th>
          <th><input type="text" name="[10]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[11]order_number" id="" value="11"></th>
          <th><input type="text" name="[11]step" id=""></th>
          <th><input type="text" name="[11]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[12]order_number" id="" value="12"></th>
          <th><input type="text" name="[12]step" id=""></th>
          <th><input type="text" name="[12]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[13]order_number" id="" value="13"></th>
          <th><input type="text" name="[13]step" id=""></th>
          <th><input type="text" name="[13]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[14]order_number" id="" value="14"></th>
          <th><input type="text" name="[14]step" id=""></th>
          <th><input type="text" name="[14]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[15]order_number" id="" value="15"></th>
          <th><input type="text" name="[15]step" id=""></th>
          <th><input type="text" name="[15]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[16]order_number" id="" value="16"></th>
          <th><input type="text" name="[16]step" id=""></th>
          <th><input type="text" name="[16]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[17]order_number" id="" value="17"></th>
          <th><input type="text" name="[17]step" id=""></th>
          <th><input type="text" name="[17]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[18]order_number" id="" value="18"></th>
          <th><input type="text" name="[18]step" id=""></th>
          <th><input type="text" name="[18]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[19]order_number" id="" value="19"></th>
          <th><input type="text" name="[19]step" id=""></th>
          <th><input type="text" name="[19]amount" id=""></th>
        </tr>
        <tr>
          <th><input type="text" name="[20]order_number" id="" value="20"></th>
          <th><input type="text" name="[20]step" id=""></th>
          <th><input type="text" name="[20]amount" id=""></th>
        </tr>
      </table>
      <input type="submit" value="Save" class="save_btn">
    </form>
  </div>
</body>
</html>